li {
    display: inline-block;
    margin-right: 5px;
    user-select: none;
}

.coin {
    background: #E0E9E8;
    border: 2px solid #BABBBB;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    position: relative;
    text-align: center;
    width: 60px;
}

.coin:hover {
    background: #CFD1D1;
}

.coin-value {
    font-size: 2em;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px;
}

.balance {
    display: block;
    margin-top: 5px;
    text-align: center;
}