<div class="row">
  <div class="col-md-6">
    <div class="cashbox">
      <h3>Кошелёк машины</h3>
      <app-coin [debug]="isCoinsEditable" *ngFor="let coinInfo of machineCoins" [coinInfo]="coinInfo"></app-coin>
      <div>
        <input (change)="setCoinsEditable()" type="checkbox" name="coins-editable" id="coins-editable">
        <label for="coins-editable">Изменить количество монет</label>
      </div>
    </div>
    <app-coin-acceptor [receivedCash]="sumOfCash" (cashbackEvent)="onCashback()"></app-coin-acceptor>
    <app-user-wallet (selectedCoin)="onGetCoins($event)"></app-user-wallet>
  </div>
  <div class="col-md-6">
    <app-product-list (selectedProduct)="onBuyProduct($event)"></app-product-list>
  </div>
</div>
<app-message-box></app-message-box>